# Basic_Python

#### Variables

In [1]:
print("Hello World")

msg = "Hello World1"
print(msg)

msg = "Hello World2"
print(msg)

Hello World
Hello World1
Hello World2

In [2]:
n = "Tossapol"
name = "Tossapol"
first_name = "Tossapol"
firstname = "Tossapol"

In [3]:
#Excemple employee number
emp_no = "LE141"
print("emp_no")

emp_no

#### Data Type

##### String

In [4]:
msg = "Hello World"
msg = 'Hello World'

print("This's easy to learn python")
print('This"s easy to learn python')

type(msg)

This's easy to learn python
This"s easy to learn python

str

In [5]:
msg = "Hello"
msg2 = "World"

print(msg+msg2)
print(msg+" "+msg2)
print(msg+" "+msg2+ " Python")

#f-String function
print(f'{msg} {msg2}')
print(f'{msg} {msg2} Python')

HelloWorld
Hello World
Hello World Python
Hello World
Hello World Python

In [6]:
print("PYTHON".lower())
print("python".upper())

python
PYTHON

#### Numberic

In [7]:
msg = "4"
type(msg)
print(msg+"1")

41

In [8]:
msg = 4
type(msg)
print(msg+1)

5

In [9]:
msg = "4"
msg1 = int(msg)
type(msg1)
print(msg1+2)

6

In [10]:
#float
msg = 3.2
print(type(msg))
print(4+msg)
print(type(4+msg))

print(round(4+msg))

<class 'float'>
7.2
<class 'float'>
7

#### Operator

In [11]:
print(3+4)
print(3-4)
print(3*4)
print(3/4)
print(3%4)
print(3**4)

7
-1
12
0.75
3
81

# Data Structures

### List

In [12]:
file_name = "one.xlsx"
file_names = ["one.xlsx","two.xlsx","three.xlsx"]
file_names = [1,2,3,4]
file_names = ["one.xlsx",2,"three.xlsx"]
print(type(file_name))
print(type(file_names))

<class 'str'>
<class 'list'>

In [13]:
#index
print(file_names)
print(file_names[2])
print(type(file_names[2]))

#reverse index
print(file_names[-1])
print(file_names[-2])
print(file_names[-3])

['one.xlsx', 2, 'three.xlsx']
three.xlsx
<class 'str'>
three.xlsx
2
one.xlsx

In [14]:
#slice
print(file_names[0:1]) #ตัวเริ่มต้น : เอาออกมา 1 ตัว จาก list
print(file_names[0:2]) #ตัวเริ่มต้น : เอาออกมา 2 ตัว จาก list
print(file_names[0:3]) #ตัวเริ่มต้น : เอาออกมา 3 ตัว จาก list

print(file_names[0:-1])
print(file_names[0:-2])

print(file_names[:1])
print(file_names[:2])
print(file_names[0:])
print(file_names[:]) #เลือกท้ั้งหมดใน list

['one.xlsx']
['one.xlsx', 2]
['one.xlsx', 2, 'three.xlsx']
['one.xlsx', 2]
['one.xlsx']
['one.xlsx']
['one.xlsx', 2]
['one.xlsx', 2, 'three.xlsx']
['one.xlsx', 2, 'three.xlsx']

#### Dictionaries

In [15]:
exchange_rates = {"EURUSD": 1.1152, "GBPUSD": 1.2452, "AUDUSD": 0.6161}
print(type(exchange_rates))

print(exchange_rates["EURUSD"])
print(exchange_rates["GBPUSD"])
print(exchange_rates["AUDUSD"])

<class 'dict'>
1.1152
1.2452
0.6161

### Tuple

In [16]:
currencies = ("EUR", "GBP", "AUD")
print(type(currencies))

list_currencies = ["EUR", "GBP", "AUD"]
print(type(list_currencies))

list_currencies.append("XUD")
print(list_currencies)

# currencies.append("XUD")
# print(currencies)

<class 'tuple'>
<class 'list'>
['EUR', 'GBP', 'AUD', 'XUD']

## Control Flow

#### if statement

In [17]:
i=6
print(i<5)
print(i>5)

# ==, <, >, !=, >=, <=

False
True

In [18]:
i = 2

if i < 5:
    print("I is smaller than 5")

I is smaller than 5

In [19]:
i = 14

if i<5:
    print("I is smaller than 5")
elif i <= 10:
    print("I in between 5 and 10")
elif i<= 15:
    print("I is between 10 and 15")
else:
    print("Out of range")

I is between 10 and 15

#### For loop

In [20]:
currencies = ["USD", "HKD", "AUD"]
currencies[0]
currencies[1]
currencies[2]

'AUD'

In [21]:
for currencie in currencies:
    print(currencie)

USD
HKD
AUD

In [22]:
for currencie in currencies:
    if currencie == "HKD":
        print(currencie)

HKD

In [23]:
for currencie in currencies:
    if currencie != "HKD":
        print(currencie)

USD
AUD

In [24]:
exhange_rates = {"EURUSD":1.1152,"GBPUSD":1.2452,"AUDUSD":0.6161}

for exchange_rate in exchange_rates.values():
    print(exchange_rate)

1.1152
1.2452
0.6161

#### Loop Structure

In [25]:
for i in range(5):
    print(i)

0
1
2
3
4

In [26]:
for i in range(10):
    if i == 5:
        break
    else:
        print(i)

0
1
2
3
4

In [27]:
for i in range(10):
    if i == 5:
        continue #ข้ามเงื่อนไขพพพ
    else:
        print(i)

0
1
2
3
4
6
7
8
9

# Special Function

### Try Except

In [28]:
try:
    msg = "Hello World"
    int (msg)
except:
    print("Error")

Error

In [29]:
try:
    msg = "Hello World"
    int (msg)
except Exception as e:
    print(f"Error {e}")

Error invalid literal for int() with base 10: 'Hello World'

## Split

In [30]:
msg = "test.txt"

list_msg = msg.split(".")
print(list_msg[0])
print(list_msg[1])

test
txt

In [31]:
msg = "nat_mcstatus_gd_ic02r.txt"
division = msg.split("_")
process = msg.split("_")
mc_name = msg.split("_")

print(division[0])
print(process[2])
print(mc_name[3].split(".")[0])

nat
gd
ic02r

In [32]:
import re
msg = "nat_mcstatus_gd_ic02r.txt"
space = r"[_.]"
txt = (re.split(space,msg))

division = txt[0]
process = txt[2]
mc_name = txt[3]

print(division)
print(process)
print(mc_name)

nat
gd
ic02r

## Len

In [33]:
msg = "Hello"
len(msg)

5

## Strip

In [34]:
msg = "Hello "
len(msg)
print(len(msg))
msg = msg.strip()
print(len(msg))

6
5

# Function

In [35]:
#function
def test():
    #For print Hello world
    print("Hello World")

test()

Hello World

In [36]:
def calculation_plus():
    #plus digit
    digit_1 = 10
    digit_2 = 15
    result = digit_1+digit_2
    print(result)

calculation_plus()

25

In [37]:
def calculation_plus(digit_1, digit_2):
    #plus digit
    result = digit_1+digit_2
    print(result)

calculation_plus(25,21)
calculation_plus(25,1)
calculation_plus(25,20)

46
26
45

In [38]:
def calculation_minus(digit_1, digit_2):
    #minus digit
    result = digit_1-digit_2
    print(result)

calculation_minus(25,21)
calculation_minus(25,1)
calculation_minus(25,20)

4
24
5

In [39]:
def calculation_minus(digit_1, digit_2):
    #minus digit
    result = digit_1-digit_2
    #print(result)
    return result

calculation_minus(digit_2=25,digit_1=21)
calculation_minus(25,1)
calculation_minus(digit_2=25,digit_1=20)
calculation_minus(calculation_minus(digit_2=25,digit_1=21),1)

-5

# Module

In [40]:
import calculation

# print(calculation.calculation_minus(45,23))
print(calculation.calculation_plus(45,23))

68

In [41]:
import calculation as cal

cal.calculation_minus(32,13)

19

In [42]:
from calculation import calculation_plus, calculation_minus
calculation_plus(45,23)
calculation_minus(32,13)

19

In [43]:
def convert_celsius(degrees,source="farenhite"):
    try:
        if source.lower() == "farenhite":
            result = round((float(degrees)-32)*(5/9),2)
        elif source.lower() == "kelvin":
            result = round((float(degrees)-273.15),2)
        else:
            result = "Don't know a source"
        return result
    except:
        result = "Degree mistake"
        return result

print(convert_celsius(100,'farenhite'))
print(convert_celsius(100,'kelvin'))
print(convert_celsius(100,'farenhite1'))
print(convert_celsius(float("100"),'farenhite'))
print(convert_celsius("100",'farenhite'))
print(convert_celsius("asdasd",'farenhite'))
print(convert_celsius("100",'Farenhite'))
print(convert_celsius("100",'Kelvin'))
print(convert_celsius("100"))

37.78
-173.15
Don't know a source
37.78
37.78
Degree mistake
37.78
-173.15
37.78